body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    position: fixed;
    height: 100%;
    overflow: auto;
    left: 0; /* Ensure sidebar stays at the left side of the viewport */
    top: 0; /* Ensure sidebar stays at the top of the viewport */
}

.content {
    margin-left: 250px; /* Adjust based on sidebar width */
    padding: 20px;
}
.sidebar a {
    padding: 15px;
    text-decoration: none;
    display: block;
    color: #fff;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #555;
}


.header {
    background-color: #555;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.greetings {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.agenda {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.agenda h3 {
    margin-top: 0;
}

.agenda ul {
    list-style-type: none;
    padding: 0;
}

.agenda ul li {
    margin-bottom: 10px;
}

/* Modal styles */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal content box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    /* Adjust the width here */
    max-width: 400px;
    /* Add a max-width to limit the width */
    border-radius: 8px;
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form styles */
#taskForm {
    display: flex;
    flex-direction: column;
}

#taskForm label {
    margin-bottom: 10px;
}

#taskForm input,
#taskForm select {
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#taskForm button[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#taskForm button[type="submit"]:hover {
    background-color: #0056b3;
}

#taskForm button[type="submit"]:focus {
    outline: none;
}

.create-task-button {
    position: absolute;
    top: 30px;
    /* Adjust as needed */
    right: 30px;
    /* Adjust as needed */
    padding: 10px 20px;
    background-color: #15477b;
    color: #fff;
    border-bottom: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.create-task-button:hover {
    background-color: #0056b3;
}
/* Table styles */
table {
width: 100%;
border-collapse: collapse;
}

th, td {
padding: 8px;
text-align: left;
border-bottom: 1px solid #ddd;
}

th {
background-color: #f2f2f2;
color: #333;
}

/* Button styles */
button {
padding: 6px 12px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
}

button:hover {
background-color: #0056b3;
}

.board {
    display: none; /* Initially hide the board */
    margin-left: 250px; /* Adjust based on sidebar width */
    /* You may need to adjust the margin-left further if your sidebar has padding */
    padding: 20px; /* Add padding to ensure content doesn't touch the sidebar */
}
  .column {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
  }
  .task {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #999;
    cursor: pointer;
  }

  /* CSS for Create Project Modal */

 /* Form styles */
#projectForm {
    display: flex;
    flex-direction: column;
}

#projectForm label {
    margin-bottom: 10px;
}

#projectForm input,
#projectForm select {
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#projectForm button[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#projectForm button[type="submit"]:hover {
    background-color: #0056b3;
}

#projectForm button[type="submit"]:focus {
    outline: none;
} 

/* CSS FOR HOME SECTION */


    /* Global styles */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    /* Container styles */
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    /* Welcome section styles */
    .welcome-section {
        background-color: #719aba;
        color: #fff;
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    /* Agenda styles */
    .agenda {
        background-color: #fff;
        padding: 20px;
        margin-bottom: 20px;
    }

    .agenda ul {
        list-style-type: none;
        padding: 0;
    }

    .agenda li {
        margin-bottom: 10px;
    }

    .agenda .time {
        font-weight: bold;
        margin-right: 10px;
    }

    /* Tasks section styles */
    .tasks-section {
        background-color: #fff;
        padding: 20px;
        margin-bottom: 20px;
    }

    .tasks-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .task-card {
        background-color: #f9f9f9;
        padding: 10px;
        border-radius: 5px;
    }

    .view-tasks-button {
        background-color: #3498db;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .view-tasks-button:hover {
        background-color: #2980b9;
    }

    /* Statistics section styles */
    .statistics-section {
        background-color: #fff;
        padding: 20px;
        margin-bottom: 20px;
    }

    .kanban-container {
        display: none;
        width: 70%;
        margin-left: 280px;
        display: flex;
        flex-direction: column;
      }
      
      .kanban-heading {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: sans-serif;
      }
      
      .kanban-heading-text {
        font-size: 1.8rem;
        background-color: tomato;
        padding: 0.8rem 1.7rem;
        border-radius: 0.5rem;
        margin: 1rem;
      }

      .kanban-board {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: sans-serif;
      }
      
      .kanban-block {
        padding: 0.6rem;
        width: 30.5%;
        min-width: 14rem;
        min-height: 4.5rem;
        border-radius: 0.3rem;
        margin-right: 10px;
      }
      
      #todo {
        background-color: #ededed;
        border-radius: 1px solid black;
        border-radius: 10px;
      }
      
      #inprogress {
        background-color: #ededed;
        border-radius: 1px solid black;
        border-radius: 10px;
      }
      
      #done {
        background-color: #ededed;
        border-radius: 1px solid black;
        border-radius: 10px;
      }
      #closed{
        background-color: #ededed;
        border-radius: 1px solid black;
        border-radius: 10px;
      }

      .task {
        background-color: white;
        margin: 0.2rem 0rem 0.3rem 0rem;
        border: 0.1rem solid black;
        border-radius: 0.2rem;
        padding: 0.5rem 0.2rem 0.5rem 2rem;
        margin-top: 6px;
      }

        
        
      

    /* Add additional styles as needed */

